*

!.gitignore
!.gitattributes
!.eslintrc.cjs
!.fallowrc.json
!.prettierrc
!LICENSE
!README.md
!build-figma-plugin.ui.cjs
!components.json
!package.json
!pnpm-lock.yaml
!tailwind.config.cjs
!tsconfig.json

!.vscode/
!.vscode/settings.json

!src/
!src/**

*.css.d.ts
*.log
.DS_Store
